name: Pullrequest Workflow
on:
  pull_request:
    branches: [ master ]
jobs:
  build:
    if: github.repository == 'mirkosertic/flight-recorder-starter'
    runs-on: 'ubuntu-latest'
    strategy:
      matrix:
        java: [21, 25]
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v4
        with:
          java-version: ${{ matrix.java }}
          distribution: "temurin"
      - run: ./mvnw verify
